body{
    background-color:	#020202;
}
h1{
    margin-left:15vw;
    font-size: 22px;
    float:left;
    color: #ffffff;
}
div input{
    margin-top: 3vh;
    width:65%;
    height: 30px;
    border-radius: 10px;
    margin-left: 10vw;
    color: #ffffff;
    background-color: rgb(32, 32, 32);
}
button{
    background-color:#ff9100;
    width:20%;
    height: 30px;
    border-radius: 10px;
    margin-bottom: 15px;
    color: #ffffff;
}
#limpar{
    margin-top: 4vh;
    margin-left: 64%;
    background-color:#ff9100;
    color: #ffffff;
    width: 25%;
    height: 30px;
    border-radius: 10px;
    margin-bottom: 15px;
}
@media only screen and (min-width: 769px){
    h1{
        margin-left:38vw;
        float:left; 
        font-size: 35px;  
    }
    div input{
        margin-top: 3vh;
        width:20%;
        height: 40px;
        margin-left: 40vw;
    }
    button{
        width: 5%;
        height: 40px;
        margin-bottom: 15px;
        margin-left: 15px;
    }
    #limpar{
        margin-top: 4vh;
        margin-left: 64%;
        width: 10%;
        height: 40px;
        margin-bottom: 20px;
    }
}
